* {
  outline: none;
  border: 0px;
}
:root{
  --maxWidth : 1350px;
  --sideBarWidth : 72px;
}

#root{
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  background: #181818;
}

.navBar {
  background: #202020;
  display: flex;
  justify-content:space-between;
  width: 100%;
  height: 56px;
  /* max-width: var(--maxWidth); */
}
.navBar-logo {
  display: flex;
  align-items: center;
  margin-left: 0.6em;
}
.navBar-logo-img {
  width:40px;
  margin-right: 0.3em;
  cursor: default;
}
.navBar-logo-text {
  font-size: 0.8em;
  font-weight: bold;
  color: white;
  margin-right: 0.5em;
  cursor: default;
  display: flex;
  align-items: center;
}
.navBar-btn {
  background: #313131;
  height: 30px;
  width: 100px;
  cursor:pointer;
}
.navBar-btn:hover {
  opacity: 0.8;
}
.navBar-btn-img {
  width:15px;
}

.navBar-form {
  font-size: 1.5em;
  padding:5px;
  /* background: #202020; */
  display: flex;
  align-items: center;
  margin: 0px 60px;
  width: 100%;
}
.navBar-input{
  font-size: 14px;
  width: 100%;
  height: 28px;
  background-color: #181818;
  border: solid 1px #313131;
  color: #ffffffe0;
  padding: 0px 10px;
}

.sideBar {
  width: var(--sideBarWidth);
  background: #212121;
  padding-top: 5px;
}
.sideBar-menu {
  width: var(--sideBarWidth);
  height: var(--sideBarWidth);
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.sideBar-menu:hover {
  background: #313131;
}
.sideBar-menu > img {
  width: 20px;
}
.sideBar-menu-txt {
  color: #aaaaaa;
  font-size: 0.6em;
  margin-top: 5px;
}

.list-container {
  display: flex;
  justify-content:center;
}
.list-content {
  width:100%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* max-width: var(--maxWidth); */
}
.video {
  position: relative;
  margin: 10px;
  cursor:pointer;
  /* border-radius:5px;   */
  /* box-shadow: 2px 2px 2px 0px #797979; */
  display: flex;
  align-items: center;
  overflow: hidden;
  flex: auto;
}

.video-img {
  width:100%;
  /* border-radius:5px;   */
}
.video-detail {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  background: black;
  opacity: 0.7;
  cursor:pointer;
  border-radius:5px;  
}

.video-label-header{
  margin:5px;
  color: white;
  font-size: 0.8em;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  cursor:pointer;
}
.video-label-detail{
  margin:5px;
  color: white;
  font-size: 0.7em;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor:pointer;
  max-height: 90px;
  overflow: hidden;
}

.show-on{
  display:block;
}
.show-off{
  display:none;
}


.contents-section{
  display: flex;
  width: 100%;
  /* max-width: var(--maxWidth); */
}




.video-viewer{
  width: 75%;
}
.video-view{
  /* width:960px;
  height: 540px; */
  flex: none;
  margin-top:5px;
  position: sticky;
  top: 0;

  /* position: relative; */
  width: 100%;
  padding-bottom: 56.25%;
}
#player{
  position: absolute;
  width: 100%;
  height: 100%;
}
.video-description{
  /* font-size: 0.9em; */
}

.video-description-title{
  font-size: 1.2em;
  margin: 30px 0px;
  font-weight: bold;
}
.video-description-tag{
  color: rgb(92, 67, 233);
  font-size: 0.7em;
  display: flex;
  flex-wrap: wrap;
}
.video-description-tag > span{
  margin:22px 5px;
  cursor: pointer;
}



@media screen and (max-width: 480px) {
}
@media screen and (max-width: 676px) {
  .video {
    width:100%;
    height:auto;
  }
  .video-detail {
    width:100%;
    height:100%;
  }
  .video-img {
    width:100%;
  }
  .sideBar {
    display:none;
  }
}
@media screen and (max-width: 1000px) {
  .contents-section {
    flex-wrap: wrap;
  }
  .video-viewer {
    width: 100% !important;
  }
  .list-content {
    width: 100% !important;
  }
  .sideBar {
    display:none;
  }
}

